/build/
/logs/
/target/
/classes/
/out/

*.class

# Package Files #
*.jar
!shared/libs/*.jar
*.war
*.ear

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Gradle ###
.gradle
!gradle-wrapper.jar
gradle.properties

# database
*.db3

### Internal project builds ###
computator/out/
computator/build/

dao/out/
dao/build/

engine/out/
engine/build/

mediator/out/
mediator/build/

scene/out/
scene/build/

shared/out/
shared/build/

interaction/out/
interaction/build/