/build/
/logs/
/target/
/classes/
/out/

*.class

# Package Files #
*.jar
!shared/libs/*.jar
*.war
*.ear

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Gradle ###
.gradle
!gradle-wrapper.jar
gradle.properties

# database
*.db3

### Internal project builds ###
dao/out/
scene/out/
computator/out/
shared/out/
mediator/out/